/* prduct & co + Containers*/
.gridContainer {
  display: grid;
}

figure {
  margin: 0;
}

.product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 100%;
  max-height: min-content;
  box-sizing: border-box;
  border: 2px solid black;
  height: max-content;
}

.product:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  aspect-ratio: 4 / 5;
}

.productText {
  padding: 16px;
  font-size: 1rem;
  letter-spacing: 0.06rem;
}

.prodctHeading {
  font-size: 2rem;
}

.productPrice {
  font-size: 1.5rem;
}

.addBtn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 200px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: black;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: lightgreen;
  height: 48px;
}

.addBtn:hover,
.addBtn:active,
.addBtn:focus {
  color: #616467;
  background-color: white;
  transform: translateY(1px);
  border-color: blue;
}

/* Combined styles for landscape iPads and laptops or small desktop */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape),
  (min-width: 1024px) and (max-width: 1280px) {
  .product {
    display: flex;
    border: none;
  }
  .productImgFigure {
    display: contents;
  }

  .productText {
    max-width: 40%;
  }

  .product img {
    width: auto;
    margin-right: 15px;
  }
}
